In [76]:
import pandas as pd
import csv
import numpy as np
import nltk
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

file_data = pd.read_csv("N_Fifa.csv")
file_data = file_data.dropna()
file_data.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Age,Overall,Potential,Value,Wage,International Reputation,Weak Foot,Skill Moves,Height (cm),Weight,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,31,94,94,110.5,565.0,5.0,4.0,4.0,67,159.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,33,94,94,77,405.0,5.0,4.0,5.0,74,183.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,26,92,93,118.5,290.0,5.0,5.0,5.0,69,150.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,27,91,93,72,260.0,4.0,3.0,1.0,76,168.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,27,91,92,102,355.0,4.0,5.0,4.0,71,154.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [77]:
for item in file_data["Value"]:
    x = ""
    wage = str(item)
    for char in wage:
        x += char
        if (char == "k" or char == "K"):
            pass
    file_data["Value"] = x

In [78]:
Y = np.array(file_data["Wage"])
print(file_data['Wage'])
print(Y)
#X = file_data.loc[["StandingTackle", "SlidingTackle", "Longshots", "Finishing", "Interceptions"]]
X = file_data.filter(["StandingTackle", "SlidingTackle", "Longshots", "Finishing", "Interceptions"], axis=1)
X.head()

0        565.0
1        405.0
2        290.0
3        260.0
4        355.0
5        340.0
6        420.0
7        455.0
8        380.0
9         94.0
10       205.0
11       355.0
12       125.0
13       285.0
14       225.0
15       205.0
16       205.0
17       145.0
18       240.0
19       240.0
20       315.0
21       200.0
22       130.0
23       300.0
24       215.0
25       100.0
26       255.0
27       285.0
28       315.0
29       165.0
         ...
18177      1.0
18178      1.0
18179      1.0
18180      1.0
18181      1.0
18182      1.0
18183      1.0
18184      1.0
18185      1.0
18186      1.0
18187      1.0
18188      1.0
18189      1.0
18190      1.0
18191      1.0
18192      1.0
18193      1.0
18194      1.0
18195      1.0
18196      1.0
18197      1.0
18198      1.0
18199      1.0
18200      1.0
18201      1.0
18202      1.0
18203      1.0
18204      1.0
18205      1.0
18206      1.0
Name: Wage, Length: 17918, dtype: float64
[565. 405. 290. ...   1.   1.   1.]

   StandingTackle  SlidingTackle  Finishing  Interceptions
0            28.0           26.0       95.0           22.0
1            31.0           23.0       94.0           29.0
2            24.0           33.0       87.0           36.0
3            21.0           13.0       13.0           30.0
4            58.0           51.0       82.0           61.0

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

In [80]:
print(X_test)

       StandingTackle  SlidingTackle  Finishing  Interceptions
9194             66.0           62.0       49.0           64.0
2927             28.0           29.0       67.0           35.0
11115            66.0           68.0       46.0           70.0
16476            56.0           54.0       41.0           55.0
4166             68.0           71.0       53.0           63.0
13595            11.0           11.0        9.0           13.0
2976             76.0           71.0       44.0           70.0
7787             63.0           70.0       57.0           55.0
1317             40.0           32.0       72.0           37.0
12217            56.0           51.0       62.0           55.0
13744            62.0           59.0       22.0           58.0
5218             24.0           19.0       72.0           34.0
7811             56.0           46.0       65.0           56.0
9054             63.0           66.0       41.0           63.0
15663            20.0           15.0       62.0           12.0
6922             34.0           35.0       71.0           33.0
17334            47.0           44.0       47.0           31.0
14863            65.0           59.0       51.0           56.0
14412            61.0           59.0       40.0           50.0
11243            60.0           65.0       53.0           65.0
16461            44.0           42.0       49.0           43.0
9370             12.0           20.0       16.0           18.0
6483             29.0           28.0       63.0           24.0
17513            56.0           50.0       26.0           50.0
13463            61.0           64.0       25.0           53.0
12918            63.0           65.0       21.0           62.0
3962             76.0           70.0       49.0           74.0
12283            62.0           63.0       49.0           61.0
13943            16.0           17.0       57.0           15.0
4071             71.0           69.0       60.0           69.0
...               ...            ...        ...            ...
15368            58.0           55.0       55.0           57.0
3629             53.0           42.0       72.0           45.0
15668            56.0           53.0       34.0           54.0
6691             18.0           13.0       71.0           20.0
4736             65.0           62.0       67.0           63.0
8523             11.0           14.0       66.0           12.0
14817            55.0           52.0       55.0           52.0
6117             67.0           71.0       55.0           68.0
10984            24.0           24.0       63.0           21.0
7250             69.0           70.0       22.0           66.0
10537            68.0           61.0       19.0           56.0
17952            42.0           55.0       36.0           44.0
487              81.0           82.0       28.0           81.0
14448            52.0           42.0       52.0           47.0
17497            53.0           51.0       25.0           54.0
6211             54.0           47.0       66.0           52.0
7950             22.0           22.0       45.0           44.0
11929            66.0           62.0       21.0           63.0
9794             46.0           33.0       60.0           47.0
3271             25.0           21.0       73.0           27.0
9654             47.0           46.0       65.0           23.0
183              23.0           18.0       70.0           20.0
16533            43.0           45.0       36.0           44.0
16320            65.0           64.0       19.0           50.0
9129             17.0           20.0       63.0           18.0
11028            26.0           23.0       67.0           18.0
16733            17.0           16.0       58.0           19.0
4692             71.0           69.0       24.0           70.0
15581            53.0           52.0       42.0           49.0
11319            65.0           64.0       25.0           65.0

[4480 rows x 4 columns]

In [81]:
import tensorflow as tf
from tensorflow import keras

In [95]:
model = tf.keras.Sequential([keras.layers.Dense(units = 1, input_shape = [4])])
model.add(keras.layers.Dense(units = 13, input_dim=13))
model.add(keras.layers.Dense(units = 1))
model.compile(optimizer='sgd', loss='mean_squared_error')
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_27 (Dense)             (None, 1)                 5
_________________________________________________________________
dense_28 (Dense)             (None, 13)                26
_________________________________________________________________
dense_29 (Dense)             (None, 1)                 14
=================================================================
Total params: 45
Trainable params: 45
Non-trainable params: 0
_________________________________________________________________

In [96]:
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
13438/13438 [==============================] - 1s 59us/sample - loss: nan
Epoch 2/10
13438/13438 [==============================] - 0s 28us/sample - loss: nan
Epoch 3/10
13438/13438 [==============================] - 0s 26us/sample - loss: nan
Epoch 4/10
13438/13438 [==============================] - 0s 26us/sample - loss: nan
Epoch 5/10
13438/13438 [==============================] - 0s 25us/sample - loss: nans
Epoch 6/10
13438/13438 [==============================] - 0s 26us/sample - loss: nan
Epoch 7/10
13438/13438 [==============================] - 0s 26us/sample - loss: nan
Epoch 8/10
13438/13438 [==============================] - 0s 29us/sample - loss: nan
Epoch 9/10
13438/13438 [==============================] - 0s 26us/sample - loss: nan
Epoch 10/10
13438/13438 [==============================] - 0s 33us/sample - loss: nan

In [104]:
model = tf.keras.Sequential()
model.add(keras.layers.Dense(12, input_dim=4, kernel_initializer='normal', activation='relu'))
model.add(keras.layers.Dense(8, activation='softmax'))
model.add(keras.layers.Dense(1, activation='linear'))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_36 (Dense)             (None, 12)                60
_________________________________________________________________
dense_37 (Dense)             (None, 8)                 104
_________________________________________________________________
dense_38 (Dense)             (None, 1)                 9
=================================================================
Total params: 173
Trainable params: 173
Non-trainable params: 0
_________________________________________________________________

In [105]:
model.compile(loss='mse', optimizer='adam', metrics=['mse','mae'])
model.fit(X_train, y_train, epochs=10, batch_size = 32)

Epoch 1/10
13438/13438 [==============================] - 1s 53us/sample - loss: 579.7798 - mean_squared_error: 579.7797 - mean_absolute_error: 9.1739
Epoch 2/10
13438/13438 [==============================] - 1s 38us/sample - loss: 566.5364 - mean_squared_error: 566.5364 - mean_absolute_error: 8.6645
Epoch 3/10
13438/13438 [==============================] - 1s 38us/sample - loss: 555.0517 - mean_squared_error: 555.0516 - mean_absolute_error: 8.3934
Epoch 4/10
13438/13438 [==============================] - 1s 38us/sample - loss: 545.0568 - mean_squared_error: 545.0568 - mean_absolute_error: 8.2861
Epoch 5/10
13438/13438 [==============================] - 1s 39us/sample - loss: 536.3488 - mean_squared_error: 536.3490 - mean_absolute_error: 8.2933
Epoch 6/10
13438/13438 [==============================] - 1s 39us/sample - loss: 528.7599 - mean_squared_error: 528.7596 - mean_absolute_error: 8.3368s - loss: 513.3087 - mean_squared_error: 513.3086 - mean_absolute_error: 8.
Epoch 7/10
13438/13438 [==============================] - 1s 39us/sample - loss: 522.1698 - mean_squared_error: 522.1699 - mean_absolute_error: 8.4389
Epoch 8/10
13438/13438 [==============================] - 1s 39us/sample - loss: 516.5745 - mean_squared_error: 516.5746 - mean_absolute_error: 8.5512
Epoch 9/10
13438/13438 [==============================] - 1s 40us/sample - loss: 511.8263 - mean_squared_error: 511.8261 - mean_absolute_error: 8.6811
Epoch 10/10
13438/13438 [==============================] - 1s 47us/sample - loss: 507.4140 - mean_squared_error: 507.4142 - mean_absolute_error: 8.7524

In [84]:
mlp = MLPRegressor()
mlp.fit(X_train, y_train)
#now test on the test set

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [86]:
y_hat = mlp.predict(X_test)

In [107]:
arr = []
arr.append((abs(y_test - y_hat)))

In [108]:
a = np.array(arr)
print(np.mean(a))

8.01948806974835